<ul class="navigation {% if nested is defined %}nested{% endif %}">
{% if nested is not defined %}
    {% set nested = true %}
{% endif %}

{% for key,value in files %}
    {% if value is iterable %}
        {% if path is defined %}
            {% set oldpath = path %}
            {% set path = path ~ '/' ~ key %}
        {% else %}
            {% set path = key %}
        {% endif %}
        <li>{{ key }}/</li>
        {% set files = value %}
        {{ include('page/_navigation.html.twig') }}
        {% if oldpath is defined %}
            {% set path = oldpath %} 
        {% endif %}
    {% else %}
      <li><a href="{{ path('note', {'directory': path, 'note' : value|replace({('.md') : ''}) }) }}">{{ value|replace({('.md') : ''}) }}</a></li>
    {% endif %}
{% endfor %}
</ul>
