{% extends 'base.html.twig' %}

{% block title %}Index{% endblock %}

{% block body %}
<style>
    .wrapper { margin: 1em auto; }
</style>

<div class="wrapper">
    <div class="markdown">
    <h1>Index</h1>
    <hr> 
    <p>
        Hello
    </p>
    </div>
</div>
{% endblock %}
