{% extends 'base.html.twig' %}

{% block title %}{{ directory ~ '/' ~ note }}{% endblock %}

{% block body %}
<style>
    .wrapper { margin: 1em auto; }

.markdown h1 {
    font-size: 1.8rem;
    border-bottom: 1px solid #cacaca;
}
.markdown h2 {
    font-size: 1.6rem;
}
.markdown h3 {
    font-size: 1.4rem;
}


</style>

<div class="wrapper">
    <div class="markdown">
        {{ markdown|markdown_to_html }} 
    </div>
</div>
{% endblock %}
