{% extends 'base.html.twig' %}

{% block title %}Searching....{% endblock %}

{% block body %}
<div class="wrapper">
    <div class="search-results">
        <h2>Search: {{ searchterm }}</h2>

        <div class="result">
            <div class="search-title">firewalld</div>
            <div class="preview">Reject traffic from IP Address
firewall-cmd --permanent --add-rich-rule="rule family='ipv4' source address='192.168.0.11' reject"</div>
            <div class="markdown-path">
                <a href="/notes/Computing/UNIX/Redhat/firewalld">Computing/UNIX/Redhat/firewalld</a>
            </div>
        </div>

        <div class="result">
            <div class="search-title">lvm</div>
            <div class="markdown-path">
                <a href="/notes/Computing/UNIX/Redhat/lvm">Computing/UNIX/Redhat/lvm</a>
            </div>
        </div>

        <div class="result">
            <div class="search-title">miscellaneous</div>
            <div class="markdown-path">
                <a href="/notes/Computing/UNIX/miscellaneous">Computing/UNIX/miscellaneous</a>
            </div>
        </div>




    </div>
</div>
{% endblock %}
