html, body {
    min-height: 100%;
    font-family: 'helvetica', san-serif;
}
body {
    margin: 0;
}
a {
    color: #9b4dca;
    text-decoration: none;
}
a:hover, a:active {
    color: #606c76;
}

/* .container, .row {
    min-height: 100%;
} */

.row {
    display: flex;
}
.column-20 {
    flex-basis: 20%;
}
.column-80 {
    flex-basis: 80%;
}

.navigation {
    list-style: none;
}

.bgp {
    background: #f5f5ff;
}

code {
    white-space: pre-line;
    background: #f5f5ff;
    padding: 2px;
}
pre {
    border: 1px solid #9b4dca;
    padding: 5px;
    border-radius: 2px;
    background: #f5f5ff;
}
pre code {
    padding: 0;
}

/* Search form */
form.search_form #search_md div {
    display: inline;
}

.navigation {
    padding-left: 10px;
}

.collapse.show {
    display: block;
}
.collapse {
    display: none;
}


.markdown {
    padding: 0 20px;
}
.wrapper .markdown h1 {
    border-color: #9b4dca;
    font-size: 1.8rem;
}

.wrapper { margin: 1em auto; }
.markdown h2 {
    font-size: 1.6rem;
}
.markdown h3 {
    font-size: 1.4rem;
}

.wrapper .markdown img {
    max-width: 100%;
}

/* Search results */
.search-results {
    padding: 0 20px;
}
.search-results .result {
    padding: 10px;
    border-left: 3px solid #9a7cea;
    margin-bottom: 20px;
}
.search-results .result .search-title {
    margin-bottom: 3px;
    font-size: 1.1em;
}
.search-results .result .preview {
    background: #f5f5ff;
    padding: 10px;
    margin-bottom: 10px;
    font-size: .8em;
    white-space: pre;
}
.search-results .result .markdown-path {
    font-size: 0.8em;
}

/* Top Bar */
.top-bar-container {
    background-color: #9a7cea;
    width: 100%;
}
.top-bar {
    padding: 0.5rem;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    display: flex;
}
.top-bar .search #search_md_searchterm {
    border: 1px solid #9b4dca;
    border-radius: 4px 0px 0px 4px;
    padding: 7px;
    background: #f5f5ff;
    color: #9b4dca;
    font-size: 13px;
    font-weight: 500;
    width: 200px;
}
.top-bar .search #search_md_Search {
    border-radius: 0px 10px 10px 0px;
    border: 1px solid #9b4dca;
    padding: 7px;
    padding-top: 8px;
    color: #f5f5ff;
    background-color: #9b4dca;
    width: 102px;
}

.top-bar .search #search_md_Search:hover {
    color: #9b4dca;
    background-color: #f5f5ff;
}

/* typeahead */
.top-bar .search #search_md_searchterm.searching {
    border-radius: 4px 0px 0px 0px;
}
.top-bar .search #search_md_Search.searching {
    border-radius: 0px 10px 0px 0px;
}

.typeahead {
    position: absolute;
    background-color: #f5f5ff;
    width: 280px;
    padding: 10px;
    border: 1px solid #9b4dca;
    border-radius: 0px 0px 3px 3px;
    margin-top: -1px;
}
.typeahead.hidden {
    display: none;
}
.typeahead div {
    border-bottom: 1px solid #9b4dca;
}
.typeahead div:last-child {
    border-bottom: 0px;
}
.typeahead div a {
    padding: 10px 0px;
    display: block;
}
.typeahead div a:hover {
    background-color: #9b4dca;
    color: #f5f5ff;
}
.typeahead div.highlight a {
    background-color: #9b4dca;
    color: #f5f5ff;
}

.top-bar-left {
-webkit-box-flex: 1;
    flex: 1 1 auto;
    margin-right: auto;
}
.top-bar-right {
-webkit-box-flex: 0;
    flex: 0 1 auto;
    margin-left: auto;
}

/* .top-bar input {
    max-width: 200px;
    margin: 0;
    display: inline-block;
} */
