{% extends 'base.html.twig' %}

{% block title %}{{ directory ~ '/' ~ note }}{% endblock %}

{% block body %}
<div class="wrapper">
    <div class="markdown">
        {{ markdown|markdown_to_html }} 
    </div>
</div>
{% endblock %}
